body {
  margin: 0;
  background-color: #231f20;
  color: white;
}
img {
  border-radius: 20px;
}
h1 {
  text-align: center;
  font-family: "Bungee Shade", sans-serif;
  margin-top: 0;
}

.highlightNuclear {
  color: #1452c6;
}
.hightlightHuman {
  color: #eb9515;
}
.highlightCockroach {
  color: #de4314;
}
p,
div {
  text-align: center;
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.weapons {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.weapon {
  width: 200px;
  height: auto;
  transition: all 0.3s;
}
.weapon:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.2);
}

.choiceContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.userChoice,
.computerChoice {
  width: 300px;
  height: auto;
}

.userChoice img,
.computerChoice img {
  padding: 10px;
}

.choicePhoto {
  width: auto;
  height: 150px;
}
.overallScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overallScoreText {
  width: 250px;
  border-radius: 20px;
}
.newGame,
.restartGame {
  margin: 30px auto;
  font-family: "Turret Road", sans-serif;
  font-size: 24px;
  display: none;
  padding: 10px;
  border-radius: 20px;
  border: none;
  transition: all 0.3s;
  color: white;
  background-color: #f7b904;
}
.newGame:hover,
.restartGame:hover {
  background-color: #5faac7;
}

.footer {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}
.footer a {
  color: #de4314;
  font-weight: 700;
  transition: all 0.3s;
}
.footer a:hover {
  color: #f7b904;
}
